{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}

<section class="login-form">
    <main role="main" class="container">
        <h3 class="text-center mt-3 mb-3">Payment Details</h3>
        <div class="row justify-content-center">
            <form class="form-container col-8" id="payment-form" action="{% url 'makepayment' '1' %}" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-6">
                        {{ person_details_form | as_bootstrap }}
                    </div>
                    <div class="col-6">
                        {{ cc_details_form | as_bootstrap }}
                    </div>
                </div>
                <p class="text-center">
                    <button type="submit" name="submit" class="btn btn-primary btn-ua w-100 mt-2">Make Payment</button>
                </p>
            </form>
        </div>
    </main>
</section>

{% endblock %}