
{% load staticfiles %}
{% load bootstrap_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>UA</title>
    <link rel="stylesheet" href="{% static 'bootstrap/4.4.1/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="wrapper">
    <header class ="page-header px-0 py-0">
        <div class="container">
            <div class="row">
                <div class="col px-0">
                    <nav class="navbar navbar-expand-lg shift navbar-light navbar-ua px-0 py-0">
                        <a class="navbar-brand py-3 pl-3 py-md-4 pl-md-4" href="/">
                            <img class="header-logo" src="{{ MEDIA_URL }}ua-logo.png" alt="UA Logo">
                        </a>
                        <button class="navbar-toggler custom-toggler navbar-toggler-right mr-3 mr-md-4" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
    
                        <div class="collapsed-menu collapse navbar-collapse px-3 py-3 px-md-4 py-md-4 flex-row-reverse collapse" id="navbarNav">
                            <ul class="navbar-nav text-center">
                                <li class="nav-item px-2 px-xl-3">
                                    <a class="nav-link" href="{% url 'howitworks' %}">How it Works</a>
                                </li>
                                <!--
                                <li class="nav-item px-2 px-xl-3">
                                    <a class="nav-link" href="{% url 'about' %}">About Us</a>
                                </li>
                                -->
                                <li class="nav-item px-2 px-xl-3">
                                    <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
                                </li>
                                {% if user.is_authenticated %}
                                <li class="nav-item px-2 px-xl-3">
                                    {% if user.is_superuser %}
                                    <a class="nav-link" href="{% url 'userprofile' %}"><i class="fa fa-user-plus"></i> Profile</a>
                                    {% else %}
                                    <a class="nav-link" href="{% url 'userprofile' %}"><i class="fa fa-user"></i> Profile</a>
                                    {% endif %}
                                </li>
                                <li class="nav-item px-2 px-xl-3">
                                    <a class="nav-link" href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Log Out</a>
                                </li>
                                {%  else %}
                                <li class="nav-item px-2 px-xl-3">
                                    <a class="nav-link" href="{% url 'login' %}"><i class="fa fa-sign-in"></i> Log In</a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div class="container">
            <section class="container">
                <div class="row mb-4">
                    <div class="col">
                        <h1>MBUnicorn Accelerator</h1>
                    </div>
                </div>
            </section>
        </div>
    </header>

    <div class="container">
        {% if messages %}
            {% for msg in messages %}
            <div class="alert alert-{{ msg.level_tag }}" role="alert">
                {{ msg.message }}
            </div>
            {% endfor %}
        {% endif %}

        {% block content %} {% endblock %}
    </div>
    </div>
    <footer class="footer page-footer mt-5">
        <section class="footer-links container py-1 py-lg-3">
            <article class="row justify-content-center">
                <section class="col-12 col-lg-4 d-block">
                    <h5 class="social-media-title text-center mt-3 mb-1">Let's Stay Close</h5>
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex flex-row justify-content-center">
                                <div class="px-1"><a href="https://www.facebook.com" target="_blank"><img src="{{ MEDIA_URL }}icon_FB.png" width="30" alt="Facebook"></a></div>
                                <div class="px-1"><a href="https://www.instagram.com" target="_blank"><img src="{{ MEDIA_URL }}icon_Instagram.png" width="30" alt="Instagram"></a></div>
                                <div class="px-1"><a href="https://www.twitter.com" target="_blank"><img src="{{ MEDIA_URL }}icon_Twitter.png" width="30" alt="Twitter"></a></div>
                                <div class="px-1"><a href="https://www.linkedin.com" target="_blank"><img src="{{ MEDIA_URL }}icon_LinkedIn.png" width="30" alt="LinkedIn"></a></div>
                                <div class="px-1"><a href="https://www.pinterest.com" target="_blank"><img src="{{ MEDIA_URL }}icon_Pinterest.png" width="30" alt="Pinterest"></a></div>
                            </div>        
                        </div>
                    </div>
                </section>
            </article>
        </section>
    
        <section class="copyright">
            <div class="container">
                <p>
                    Copyright &#169; 2020 MBUA<sup>&#174;</sup>
                    <span>|</span><a href="/">Terms of Use</a>
                    <span>|</span><a href="/">Privacy Policy</a>
                    <span>|</span><a href="/">Unsubscribe</a>
                </p>
                <p class="rights-reserved">
                    MBUA<sup>&#174;</sup> is a fictitious application and is not really a registered trademark of the ficitious company MBUA Ltd. All rights are not really reserved.
                </p>
            </div>
        </section>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'popper/js/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/4.4.1/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    {% block head_js %}
    {% endblock %}
</body>
</html>